doctype html
html
    head
        style
            include ../../../assets/css/emails/newUserAccount.less
    <body>
        <div class="wrapper-content">
            <div class="wrapper-logo">
               <h1>LOGISTICO</h1>
            </div>
            <div class="content">
                <h2 class="title">¡Gracias por registrarte! 🎉</h2>
                <p>Para activar tu cuenta haga click en el enlace a continuación, si no es así, ignore este mensaje.</p>
                <a class="btn" href="#{url}" class="btn">Activar mi cuenta</a>
            </div>
        </div>
    </body>