doctype html
html
    head
        style
            include ../../../assets/css/emails/userAccessCode.less
    <body>
        <div class="wrapper-content">
            <div class="wrapper-logo">
                <h1>LOGISTICO</h1>
            </div>
            <div class="content">
                <h2 class="title">¡Debes activar tu cuenta! 🚨</h2>
                <p>Para poder ingresar al sistema y poder jugar debes activar tu cuenta</p>
                <p>Para activar tu cuenta haga click en el botón <b>"Activar mi cuenta"</b> que se encuentra a continuación:</p>
                <a class="btn" href="#{url}" class="btn">Activar mi cuenta</a>
            </div>
        </div>
    </body>